body {
    font-family: 'Courier New', Courier, monospace;
    background: #D6EAF8;
}

.container {
    width: 90vw;
    height: 90vw;
    background: white;
}

.logo {
    width: 200px;
}

.logoText {
    width: 400px;
    font-size: 4vw;
    color: #DE3163;
}

.amountField {
    width: 15vw;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .amountField {
        width: 6vw;
    }
    
}

.taskField {
    width: 70vw;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .taskField {
        width: 50vw;
    }
}

.btn {
    width: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.taskContainer {
    width: 100%;
}

ul {
}

li {
    display: none;
    list-style: none;
    width: 100vw;
    margin-top: 5px;
    padding-top: 0;
    cursor: pointer;
}

.taskContent {
    display:inline-block;
    width: 65vw;
    font-size: 20px;
    margin-left: 5px;
}

@media screen and (min-width: 768px) {

    .taskContent {
        width: 60vw;
    }
}


li::before {
    content: "";
    position: absolute;
    background-image: url(unchecked.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 8vw;
    width: 25px;
    height: 25px;
}

.checked {
    text-decoration: line-through orangered;
}

.checked::before {
    content: "";
    position: absolute;
    background-image: url(checked.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 8vw;
    width: 25px;
    height: 25px;
}

.taskDecoration {
    text-decoration: line-through orangered;
}

.amountDisplay {
    border-radius: 5px;
    text-align: center;
    background: #9FE2BF;
    display: inline-block;
    width: 12vw;
    font-size: 20px;
    font-weight: bolder;
}

@media  screen and (min-width: 768px) {
    .amountDisplay {
        width: 5vw;
    }
}

.edit {
    margin-left: 2vw;
    display: none;
}

.closeTask {
    margin-left: 1vw;
    display: none;
}

@media screen and (min-width: 768px) {
    .edit, .closeTask {
        display: inline-block;
        cursor: pointer;
    }
}

