body {
    font-family: 'Courier New', Courier, monospace;
    background: #D6EAF8;
}

.container {
    position: relative;
    width: 90vw;
    height: 500px;
    background: white;
}


.logo {
    width: 200px;
}

.logoText {
    width: 400px;
    font-size: 4vw;
    color: #DE3163;
}

.taskList {
    position: relative;
}

.taskContent {
    word-wrap: break-word;
    cursor: pointer;
    padding-left: 30px;
}

.taskContent::before {
    content: "";
    position: absolute;
    background-image: url(unchecked.png);
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
}

.taskComplete {
    text-decoration: line-through orangered; 
    word-wrap: break-word;
    cursor: pointer;
    padding-left: 30px;
}

.taskComplete::before {
    content: "";
    position: absolute;
    background-image: url(checked.png);
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
}

.editImage, .closeImage {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.editField {
    width: 70vw;
}

.editSave {
    height: 40px ;
    background: red;
}

.editContainer {
    position: absolute;
    top: 30vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background: #D1D0CE;
    border-radius: 10px;
    z-index: 3;
}

.hidden {
    display: none;
}