body {
    font-family: 'Courier New', Courier, monospace;
    background: #D6EAF8;
}

.container {
    width: 90vw;
    height: 500px;
    background: white;
}

@media screen and (min-width: 768px) {
    .container {
        height: 600px;
    }
    
}

.logo {
    width: 200px;
}

.logoText {
    width: 400px;
    font-size: 4vw;
    color: #DE3163;
}

.amountField {
    width: 15vw;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .amountField {
        width: 6vw;
        margin-left: 18px;
    }
    
}

.taskField {
    width: 70vw;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .taskField {
        width: 50vw;
    }
}

.btn {
    width: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .btn {
        margin-left: 5px;
    }
    
}

.taskContainer {
    width: 100%;
}

li {
    display: none;
    list-style: none;
    margin-top: 5px;
    padding-top: 0;
    cursor: pointer;
}

.taskContent {
    display:inline-block;
    width: 63vw;
    font-size: 20px;
    margin-left: 5px;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {

    .taskContent {
        width: 60vw;
    }
}


li::before {
    content: "";
    position: absolute;
    background-image: url(unchecked.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 9vw;
    width: 25px;
    height: 25px;
}

.checked {
    text-decoration: line-through orangered;
}

.checked::before {
    content: "";
    position: absolute;
    background-image: url(checked.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 9vw;
    width: 25px;
    height: 25px;
}

.taskDecoration {
    text-decoration: line-through orangered;
}

.amountDisplay {
    border-radius: 5px;
    text-align: center;
    background: #F2F4F4;
    display: inline-block;
    width: 12vw;
    font-size: 20px;
    margin-left: 2px;
}

@media  screen and (min-width: 768px) {
    .amountDisplay {
        width: 5vw;
        margin-left: 5px;
    }
}

.editTask {
    margin-left: 2vw;
    display: none;
}

.closeTask {
    margin-left: 1vw;
    display: none;
}

@media screen and (min-width: 768px) {
    .editTask, .closeTask {
        display: inline-block;
        cursor: pointer;
    }
}

.editBackground {
    width: 80vw;
    height: 20vw;
    background:#e3dac9 ;
    position: absolute;
    left: 10vw;
    top: 35vw;
    z-index: 1;
    display: none;
}

@media screen and (min-width: 768px) {
    .editBackground {
        width: 80vw;
        height: 10vw;
        left: 10vw;
        top: 10vw;
    }  
}

.editContainer {
    position: absolute;
    top: 37vw;
    left: 13vw;
    width: 75vw;
    z-index: 2;
    display: none;
}

@media screen and (min-width: 768px) {
    .editContainer {
        top: 13vw;
        left: 13vw;
    }
    
}

.taskEditField {
    border-radius: 5px;
    width: 75vw;
    height: 40px;
    display: inline-block;
    font-size: 20px;
    border: none;
}

@media screen and (min-width: 768px) {
    .taskEditField {
        width: 60vw;
        display: inline-block;
    }
    
}

.amountEditField {
    border-radius: 5px;
    width: 15vw;
    height: 40px;
    display: inline-block;
    font-size: 20px;
    border: none;
}

@media screen and (min-width: 768px) {
    .amountEditField {
        width: 7vw;
        display: inline-block;
    }
    
}

.editSaveBtn {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background: #ff4500;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 40px;
    display: inline-block;
}
